<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExePath" value=""/>
		<add key="KernelPath" value=""/>
		<add key="Kernel2Path" value=""/>
		<add key="ScenePath" value=""/>
		<add key="VanillaExePath" value=""/>
		<add key="BattleLgpPath" value=""/>
		<add key="RememberLastOpened" value="true"/>
		<add key="PS3TweaksEnabled" value="false"/>
	</appSettings>
</configuration>